**/node_modules/
vim/.config/coc/list-*-history.json
vim/.config/coc/commands
vim/.config/coc/extensions/
vim/.config/coc/suggest.txt
vim/.config/coc/extensions/db.json
vim/.config/coc/extensions/package.json
vim/.config/nvim/plugin/*
